# Dependency directories
node_modules/

# Build outputs
dist/
build/
*.exe
*.deb
*.rpm

# Debug logs
npm-debug.log*
yarn-debug.log*
logs/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
